html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  z-index: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transition: background-color $animation;
}

.main-section {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $medium) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: $large) {
    padding-bottom: 46px;
  }
  @media screen and (min-width: $full) {
    padding: 50px 0;
  }
}

.container {
  @media screen and(max-width: $small) {
    width: 100%;
    padding: 0 10px;
  }
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and(min-width: $medium) {
    width: 768px;
    padding: 0 75px;
  }
  @media screen and(min-width: $large) {
    width: 1024px;
    padding: 0 71px;
  }
  @media screen and(min-width: $full) {
    width: 1400px;
    padding: 0 70px;
  }
}

body.light {
  background: $mainBackgroundColor;
}

body.dark {
// background:
// radial-gradient(black 15%, transparent 16%) 0 0,
// radial-gradient(black 15%, transparent 16%) 8px 8px,
// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
// radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
// background-color:#282828;
// background-size:16px 16px;

background-color: #292C32;
opacity: 0.8;
background: radial-gradient(circle, transparent 20%, #292C32 20%, #292C32 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #292C32 20%, #292C32 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#383838 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #383838 0.8px, #292C32 0.8px) -0.4px 0;
background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

body.dark h2 {
  color: $secondaryTextColor;
}

body.dark footer p {
  color: $secondaryTextColor;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
