@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-film-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-film-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.film-list-card {
  margin-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .film-list-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (440px)[7];
    -ms-grid-columns: (274px)[2];
        grid-template: repeat(7, 440px)/repeat(2, 274px);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 31px;
  }
}

@media screen and (min-width: 1024px) {
  .film-list-card {
    -ms-grid-rows: (440px)[7];
    -ms-grid-columns: (274px)[3];
        grid-template: repeat(7, 440px)/repeat(3, 274px);
  }
}

.film-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .film-item {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    overflow: hidden;
  }
  .film-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.img-wrap {
  height: 400px;
  overflow: hidden;
  padding-bottom: 5px;
}

.film-image {
  height: 100%;
  background: url(https://i.imgur.com/NI2NcSe.gif);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.film-content {
  padding: 5px 0 0 0;
}

.film-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.film-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-bottom: 5px;
  color: #ff6b08;
}

.film-genre {
  max-height: 15px;
}

.film-descr-item:not(:last-child) {
  margin-right: 10px;
}

.film-genre:not(:last-child) {
  margin-right: 5px;
}

.film-release::before {
  content: "";
  display: block;
  margin-right: 5px;
  width: 1px;
  height: 100%;
  background-color: #ff6b08;
}

.film-release {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.film-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.film-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  min-width: 26px;
  max-height: 12px;
  background: #ff6b01;
  border-radius: 5px;
}

.film-vote-span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  padding: 0;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-text {
  width: 236px;
  color: #545454;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 16px;
    width: 100%;
  }
}

.modal-open-btn {
  color: inherit;
  text-decoration: underline;
}

/*------ MODAL WINDOW -----*/
.footer-lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.footer-lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.footer-lightbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-lightbox-window {
  background-color: white;
  position: absolute;
  bottom: 50%;
  right: 50%;
  border-radius: 4px;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: auto;
  width: 214px;
  height: 100vh;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

@media screen and (min-width: 768px) {
  .footer-lightbox-window {
    width: 659px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-lightbox-window {
    width: 879px;
    height: 600px;
  }
}

.footer-lightbox-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

/* ---- Team ------ */
.team-title {
  margin-bottom: 18px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: -5px;
  }
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 10 * 3) / 3);
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .team-list-item {
    width: calc((100% - 10 * 4) / 4);
  }
}

.team-list-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-list-content-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
}

.team-list-content-text {
  color: #545454;
  font-size: 14px;
  line-height: 1.19;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
}

.header {
  min-height: 230px;
  padding-top: 46px;
  padding-bottom: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-mobile.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-mobile.jpeg);
}

.header-library {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-mobile.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-mobile.jpeg);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-mobile@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-mobile@2x.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-mobile@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-mobile@2x.jpeg);
  }
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-logo {
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .header-logo__text {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  position: relative;
  color: #ffffff;
  line-height: 1.17;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.current {
  border-bottom: 3px solid #ff6b08;
}

.header__input-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 38px;
  text-align: center;
}

.header__input {
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 25px;
  font-size: 15px;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.header__input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

.header__input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

.header__input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

.header__input::placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

.header__input-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -6px;
  right: -10px;
  background-color: transparent;
  border: none;
  -webkit-transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__input-btn:hover,
.header__input-btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.33;
  font-weight: 500;
}

.header__btn:not(:last-child) {
  margin-right: 20px;
}

.header__btn:hover, .header__btn:focus {
  background-color: #ff6b08;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-tablet.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-tablet.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-tablet.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-tablet.jpeg);
  }
  .header-logo__icon {
    margin-right: 3px;
  }
  .header-logo__text {
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
  }
  .header__input-wrapper {
    width: 336px;
  }
  .header__btn {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-tablet@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-tablet@2x.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-tablet@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-tablet@2x.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-desktop.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-desktop.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-desktop.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-desktop.jpeg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-desktop@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-desktop@2x.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-desktop@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-desktop@2x.jpeg);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  overflow: hidden;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 30px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal {
    min-width: 280px;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 618px;
    min-height: 562px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 882px;
    min-height: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .modal__poster-container {
    margin-right: 30px;
  }
}

.modal__poster {
  display: block;
}

@media screen and (max-width: 767px) {
  .modal__poster {
    min-width: 240px;
    min-height: 357px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__poster {
    min-width: 264px;
    min-height: 374px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__poster {
    min-width: 400px;
    min-height: 480px;
  }
}

.modal__main-title {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.67;
  color: #000000;
}

.modal__table {
  margin-bottom: 20px;
}

.modal__data-title {
  margin-right: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.modal__data-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.modal__annotation-title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.modal__annotation-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

.modal__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.modal__watch-list {
  min-height: 44px;
  margin-right: 10px;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  border-color: #ff6b01;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .modal__watch-list {
    min-width: 112px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__watch-list {
    min-width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__watch-list {
    min-width: 136px;
  }
}

.modal__queue-list {
  min-height: 44px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .modal__queue-list {
    min-width: 112px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__queue-list {
    min-width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__queue-list {
    min-width: 136px;
  }
}
/*# sourceMappingURL=main.css.map */