@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html,
body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  z-index: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.light {
  background-color: #ffffff;
}

body.dark {
  background-color: #292c32;
}

body.dark + h2 {
  color: #ffffff;
}

body.dark footer p {
  color: #ffffff;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-film-section {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-film-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list-card {
  padding-bottom: 46px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 20px;
}

@media screen and (min-width: 768px) {
  .film-list-card {
    grid-gap: 30px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .film-list-card {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .film-item {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
}

.film-link {
  height: 100%;
}

.film-link:hover .film-card, .film-link:focus .film-card {
  position: relative;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  z-index: 0;
  -webkit-box-shadow: 0px 0px 8px 7px rgba(255, 107, 1, 0.2), 2px 2px 4px 7px rgba(255, 107, 1, 0.3);
          box-shadow: 0px 0px 8px 7px rgba(255, 107, 1, 0.2), 2px 2px 4px 7px rgba(255, 107, 1, 0.3);
}

.film-link:hover .film-card::after, .film-link:focus .film-card::after {
  position: absolute;
  content: "";
  top: 21.5px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 90.5%;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
  -webkit-filter: drop-shadow(0px 0px 20px rgba(255, 0, 0, 0.8));
          filter: drop-shadow(0px 0px 20px rgba(255, 0, 0, 0.8));
  background: linear-gradient(270deg, #98ff08ae, #ff6b08b5), linear-gradient(120deg, #f3ff08b6, #ff7f089c);
  background-size: 200% 200%;
  -webkit-animation: animateGlow 900ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: animateGlow 900ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.film-link:hover .film-card .img-wrap, .film-link:focus .film-card .img-wrap {
  border-radius: 5px 5px 1px 1px;
}

.film-link:hover .film-content, .film-link:focus .film-content {
  height: 50px;
  min-width: 278px;
  padding: 10px 1px 2px 3px;
  background-color: #ff6b0871;
}

.film-link:hover .film-content .film-title, .film-link:focus .film-content .film-title {
  -webkit-animation: textColor1 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: textColor1 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes textColor1 {
  0% {
    color: rgba(255, 255, 255, 0.7);
  }
  25% {
    color: #c92a06e7;
  }
  50% {
    color: #000000;
  }
  75% {
    color: #c92a06e7;
  }
  100% {
    color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes textColor1 {
  0% {
    color: rgba(255, 255, 255, 0.7);
  }
  25% {
    color: #c92a06e7;
  }
  50% {
    color: #000000;
  }
  75% {
    color: #c92a06e7;
  }
  100% {
    color: rgba(255, 255, 255, 0.7);
  }
}

.film-link:hover .film-content .film-descr,
.film-link:hover .film-content .film-vote-span, .film-link:focus .film-content .film-descr,
.film-link:focus .film-content .film-vote-span {
  -webkit-animation: textColor 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
          animation: textColor 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes textColor {
  0% {
    color: #ff6b08;
  }
  25% {
    color: #c92a06e7;
    font-size: 12.5px;
  }
  50% {
    color: #000000;
  }
  75% {
    color: #c92a06e7;
  }
  100% {
    color: #ff6b08;
    font-size: 12px;
  }
}

@keyframes textColor {
  0% {
    color: #ff6b08;
  }
  25% {
    color: #c92a06e7;
    font-size: 12.5px;
  }
  50% {
    color: #000000;
  }
  75% {
    color: #c92a06e7;
  }
  100% {
    color: #ff6b08;
    font-size: 12px;
  }
}

.film-link:hover .film-content .film-descr .film-vote,
.film-link:hover .film-content .film-vote-span .film-vote, .film-link:focus .film-content .film-descr .film-vote,
.film-link:focus .film-content .film-vote-span .film-vote {
  background-color: rgba(255, 255, 255, 0.7);
}

.film-card {
  border-radius: 5px;
  -webkit-transition: -webkit-transform 900ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 900ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 900ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 900ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 900ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-wrap {
  overflow: hidden;
  border-radius: 5px;
  background: url(https://media.giphy.com/media/TDXXa9DMTOGtBC4U81/giphy.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

@media screen and (min-width: 320px) {
  .img-wrap {
    min-height: 402px;
  }
}

@media screen and (min-width: 768px) {
  .img-wrap {
    min-height: 398px;
  }
}

.film-content {
  padding: 10px 0 1px 1px;
  border-radius: 0 0 5px 5px;
}

.film-title {
  padding-bottom: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ff6b08;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-release {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.film-release::before {
  content: '';
  display: block;
  margin-right: 5px;
  width: 1px;
  height: 80%;
  background-color: #ff6b08;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-descr-item:not(:last-child) {
  margin-right: 5px;
}

.film-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.film-genre {
  max-height: 15px;
}

.film-genre:not(:last-child) {
  margin-right: 5px;
}

.film-vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 34px;
  max-height: 16px;
  text-transform: uppercase;
  background-color: #ff6b01;
  border-radius: 5px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-vote-span {
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-text {
  width: 236px;
  color: #545454;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 16px;
    width: 100%;
  }
}

.modal-open-btn {
  color: inherit;
  text-decoration: underline;
}

/*------ MODAL WINDOW -----*/
.footer-lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.footer-lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.footer-lightbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-lightbox-window {
  background-color: white;
  position: absolute;
  bottom: 50%;
  right: 50%;
  border-radius: 4px;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: auto;
  width: 214px;
  height: 100vh;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

@media screen and (min-width: 768px) {
  .footer-lightbox-window {
    width: 659px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-lightbox-window {
    width: 879px;
    height: 600px;
  }
}

.footer-lightbox-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

/* ---- Team ------ */
.team-title {
  margin-bottom: 18px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .team-list {
    margin: -5px;
  }
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 10 * 3) / 3);
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .team-list-item {
    width: calc((100% - 10 * 4) / 4);
  }
}

.team-list-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-list-content-title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
}

.team-list-content-text {
  color: #545454;
  font-size: 14px;
  line-height: 1.19;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  min-height: 230px;
  padding-top: 46px;
  padding-bottom: 42px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-logo__icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 767px) {
  .header-logo__icon {
    width: 30px;
    height: 30px;
  }
}

.header-home {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-mobile.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-mobile.jpeg);
}

.header-library {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-mobile.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-mobile.jpeg);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-mobile@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-mobile@2x.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-mobile@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-mobile@2x.jpeg);
  }
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-logo {
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .header-logo__text {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  position: relative;
  color: #ffffff;
  line-height: 1.17;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.current {
  border-bottom: 3px solid #ff6b08;
}

.header__input-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 38px;
  text-align: center;
}

.header__input {
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 25px;
  font-size: 15px;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.header__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.14;
}

.header__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.14;
}

.header__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.14;
}

.header__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.14;
}

.header__input-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -6px;
  right: -10px;
  background-color: transparent;
  border: none;
  -webkit-transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__input-btn:hover,
.header__input-btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.33;
  font-weight: 500;
}

.header__btn:not(:last-child) {
  margin-right: 20px;
}

.header__btn:hover, .header__btn:focus {
  background-color: #ff6b08;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-tablet.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-tablet.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-tablet.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-tablet.jpeg);
  }
  .header-logo__icon {
    margin-right: 3px;
  }
  .header-logo__text {
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
  }
  .header__input-wrapper {
    width: 336px;
  }
  .header__btn {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-tablet@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-tablet@2x.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-tablet@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-tablet@2x.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-desktop.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-desktop.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-desktop.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-desktop.jpeg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .header-home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/home-desktop@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/home-desktop@2x.jpeg);
  }
  .header-library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library-desktop@2x.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library-desktop@2x.jpeg);
  }
}

.header__container {
  position: relative;
}

.switcher__wrapper {
  position: absolute;
  top: 0;
  left: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .switcher__wrapper {
    top: 53px;
    left: 613px;
  }
}

@media screen and (min-width: 1024px) {
  .switcher__wrapper {
    top: 53px;
    left: 874px;
  }
}

.switcher__checkbox {
  opacity: 0;
}

.switcher__checkbox:checked + .switcher__label .ball {
  -webkit-transform: translateX(33px);
          transform: translateX(33px);
  border: solid 2px white;
  background-color: #292c32;
}

.switcher__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff6b01;
  border-radius: 50px;
  padding: 5px;
  width: 65px;
  height: 32px;
}

.ball {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  border: solid 2px #292c32;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  overflow: hidden;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 30px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal {
    min-width: 280px;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 618px;
    min-height: 562px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 882px;
    min-height: 568px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .modal__poster-container {
    margin-right: 30px;
  }
}

.modal__poster {
  display: block;
}

@media screen and (max-width: 767px) {
  .modal__poster {
    min-width: 240px;
    min-height: 357px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__poster {
    min-width: 264px;
    min-height: 374px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__poster {
    min-width: 400px;
    min-height: 480px;
  }
}

.modal__main-title {
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.67;
  color: #000000;
}

.modal__table {
  width: 100%;
  margin-bottom: 20px;
}

.modal__data-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-bottom: 10px;
  color: #8c8c8c;
}

.modal__data-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  padding-bottom: 10px;
  color: #000000;
}

.modal__data-description--title {
  text-transform: uppercase;
}

.modal__data-description--average {
  color: #ffffff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 1px 10px;
}

.modal__data-description--count {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 10px;
}

.modal__annotation-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.modal__annotation-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
}

.modal__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.modal__watch-list {
  min-height: 44px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  border-color: #ff6b01;
}

@media screen and (max-width: 767px) {
  .modal__watch-list {
    min-width: 112px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__watch-list {
    min-width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__watch-list {
    min-width: 136px;
  }
}

.modal__queue-list {
  min-height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  background-color: #ffffff;
  border-color: #000000;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .modal__queue-list {
    min-width: 112px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal__queue-list {
    min-width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__queue-list {
    min-width: 136px;
  }
}

.tui-pagination {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .tui-prev-is-ellip {
    display: none !important;
  }
  .tui-next-is-ellip {
    display: none !important;
  }
}
/*# sourceMappingURL=main.css.map */