$mainBackgroundColor: #ffffff;
$secondaryBackgroundColor: #f7f7f7;
$mainTextColor: #000000;
$secondaryTextColor: #ffffff;
$accentTextColor: #ff6b01;
$secondaryAccentColor: #ff6b08;
$placeHolderColor: rgba(255, 255, 255, 0.7);

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animationTiming: cubic-bezier(0.4, 0, 0.2, 1);