<footer class="footer ">
    <div class="container footer-container">
        <p class="footer-text">
            &copy; 2021 &#124; All Rights Reserved &#124; Developed with
            <svg class="footer-text-icon" width="17px" height="16px">
                <use href="./images/sprite.svg#rocket"></use>
            </svg> by
            <a href="" class="modal-open-btn">GoIT Students</a>
        </p>
    </div>
    <div class="footer-lightbox js-footer-light-box">

        <div class="footer-lightbox-window js-footer-lightbox-window light">
            <button class="footer-lightbox-close-btn">
                <svg class="footer-lightbox-close-btn-icon" width="26px" height="26px">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
            </button>
            <h2 class="team-title">Our Team</h2>
            <ul class="team-list js-team-list">
                <!-- <li class="team-list-item">
                    <div class="img-team">
                        <img src="./images/team/zakhar.jpg" alt="Zakhar Titov">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Zakhar Titov</h3>
                        <p class="team-list-content-text" lang="en">Team Lead</p>
                        <a href="https://github.com/zaktitov" target="_blank" rel="noopener noreferrer"
                            class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#cat5"></use>
                            </svg>
                        </a>

                    </div>
                </li>
                <li class="team-list-item">
                    <div class="img-team">
                        <img loading="lazy" src="./images/team/dima-l.jpg" alt="Dima Litvinenko">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Dmitriy Litvinenko</h3>
                        <p class="team-list-content-text" lang="en">Scrum master</p>
                        <a href="https://github.com/DimaLitvinenko" target="_blank" rel="noopener noreferrer" class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#simpson"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team-list-item">
                    <div class="img-team">
                        <img loading="lazy" src="./images/team/dima-sh.jpg" alt="Dima Shvets">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Dmitriy Shvets</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                        <a href="https://github.com/Dima-Shvets" target="_blank" rel="noopener noreferrer" class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#bad"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team-list-item">
                    <div class="img-team">
                        <img loading="lazy" src="./images/team/lena.jpg" alt="Lena">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Elena Semeshyna</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                        <a href="https://github.com/LenaXmi" target="_blank" rel="noopener noreferrer" class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#cat4"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team-list-item">
                    <div class="img-team">
                        <img loading="lazy" src="./images/team/pavlo.jpg" alt="Pavlo Kravcuk">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Pavel Kravchuk</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                        <a href="https://github.com/pavlykravlyk" target="_blank" rel="noopener noreferrer" class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#doll"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team-list-item">
                    <div class="img-team">
                        <img loading="lazy" src="./images/team/sasha.jpg" alt="Oleksandr Palatniy">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Aleksandr Palatniy</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                        <a href="https://github.com/oleksandrpalatniy" target="_blank" rel="noopener noreferrer" class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#sawa"></use>
                            </svg>
                        </a>
                    </div>
                </li>
                <li class="team-list-item">
                    <div class="img-team">
                        <img loading="lazy" src="./images/team/yulia-n.jpg" alt="Yulia Novakovskaya">
                    </div>

                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Yulia Novakovskaya</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                        <a href="https://github.com/novakovskaya" target="_blank" rel="noopener noreferrer" class="team__link">
                            <svg class="team__icon" width=30 height=30>
                                <use href="../src/images/sprite.svg#jula"></use>
                            </svg>
                        </a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</footer>

