<!-- тег header не пишите, он стоит в index.html -->
<!-- тут footer -->
<footer class="footer ">
    <div class="container footer-container">
        <p class="footer-text">
            &copy 2021 &#124 All Rights Reserved &#124 Developed with by
            <svg class="footer-text-icon" width="17px" height="16px">
                <use href="./images/sprite.svg#rocket"></use>
            </svg>
            <a href="" class="modal-open-btn">GoIT Students</a>
        </p>
    </div>
    <!-- <button class="footer-lightbox-open-btn"></button> -->
    <div class="footer-lightbox js-footer-light-box">
        <div class="footer-lightbox-overlay js-footer-light-box-overlay">
            <div class="footer-lightbox-window js-footer-lightbox-window">
                <button class="footer-lightbox-close-btn">ХХ</button>
            </div>
        </div>
    </div>

</footer>