<footer class="footer ">
    <div class="container footer-container">
        <p class="footer-text">
            &copy 2021 &#124 All Rights Reserved &#124 Developed with
            <svg class="footer-text-icon" width="17px" height="16px">
                <use href="./images/sprite.svg#rocket"></use>
            </svg> by
            <a href="" class="modal-open-btn">GoIT Students</a>
        </p>
    </div>
    <div class="footer-lightbox js-footer-light-box">

        <div class="footer-lightbox-window js-footer-lightbox-window light">
            <button class="footer-lightbox-close-btn">
                <svg class="footer-lightbox-close-btn-icon" width="24px" height="24px">
                    <use href="./images/sprite.svg#close"></use>
                </svg>
            </button>
            <h2 class="team-title">Our Team</h2>
            <ul class="team-list">
                <li class="team-list-item">
                    <img src="./images/team/zakhar.jpg" alt="Zakhar Titov">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Zakhar Titov</h3>
                        <p class="team-list-content-text" lang="en">Team Lead</p>
                    </div>
                </li>
                <li class="team-list-item">
                    <img loading="lazy" src="./images/team/dima-l.jpg" alt="Dima Litvinenko">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Dima Litvinenko</h3>
                        <p class="team-list-content-text" lang="en">Scrum master</p>
                    </div>
                </li>
                <li class="team-list-item">
                    <img loading="lazy" src="./images/team/dima-sh.jpg" alt="Dima Shvets">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Dima Shvets</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                    </div>
                </li>
                <li class="team-list-item">
                    <img loading="lazy" src="./images/team/lena.jpg" alt="Lena">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Lena Semeshyna</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                    </div>
                </li>
                <li class="team-list-item">
                    <img loading="lazy" src="./images/team/pavlo.jpg" alt="Pavlo Kravcuk">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Pavlo Kravchuk</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                    </div>
                </li>
                <li class="team-list-item">
                    <img loading="lazy" src="./images/team/sasha.jpg" alt="Oleksandr Palatniy">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Oleksandr Palatniy</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                    </div>
                </li>
                <li class="team-list-item">
                    <img loading="lazy" src="./images/team/yulia-n.jpg" alt="Yulia Novakovskaya">
                    <div class="team-list-content">
                        <h3 class="team-list-content-title">Yulia Novakovskaya</h3>
                        <p class="team-list-content-text" lang="en">Front-end developer</p>
                    </div>
                </li>
            </ul>
        </div>
        <div div class="footer-lightbox-overlay js-footer-light-box-overlay"></div>
    </div>
</footer>