<header class="header header-home" id="header">
  <div class="container header__container">
    <nav class="header__navigation">
      <a href="" class="header-logo js-logo-link">
        <svg class="header-logo__icon">
          <use href="../src/images/sprite.svg#icon-popcorn"></use>
        </svg>
        <span class="header-logo__text">Filmoteka</span>
      </a>



      <ul class="header__list">
        <li class="header__item">
          <a class="header__link current js-link-home" href="">Home</a>
        </li>
        <li class="header__item">
          <a class="header__link js-link-library" href="">My library</a>
        </li>
      </ul>
    </nav>

    <div class="js-input-wrapper header__input-wrapper">
      <form id="search-form">
        <input class="header__input" type="text" id="input" name="query" autocomplete="off"
          placeholder="Find a movie" />
        <button class="header__input-btn js-input-btn" type="submit">
          <svg class="header__input-icon" width="18" height="18">
            <use href="../src/images/sprite.svg#loupe"></use>
          </svg>
        </button>
      </form>
    </div>

    <div class="switcher switcher__wrapper">
      <input type="checkbox" name="input" id="checkbox" class="switcher__checkbox">
      <label for="checkbox" class="switcher__label label">
        <svg class="label__moon" width="24" height="24">
          <use href="../src/images/sprite.svg#sun7"></use>
        </svg>
        <svg class="label__sun" width="24" height="24">
          <use href="../src/images/sprite.svg#moon1"></use>>
        </svg>
        <div class="ball ball__wrapper"></div>
      </label>
    </div>

    <div class="js-button-wrapper header__btn-wrapper visually-hidden">
      <button type="button" class="header__btn js-header-watched-btn">watched</button>
      <button type="button" class="header__btn js-header-queue-btn">queue</button>
    </div>
  </div>

</header>