<main class="main">
  <section class="main-section">
    <div class="container">
      <h2 
        class="main-film_title 
        visually-hidden">
        Watch your favorite movies at home...
      </h2>
      <ul 
        class="film-list-card 
        js-film-cards 
        list_space
        list">
      </ul>
      <div id="pagination" class="tui-pagination pagination_control-space"></div>
      <!-- <div id="js-load-more"></div> -->
    </div>
    <div class="container visually-hidden js-library-container">
      <ul class="film-list-card js-library-film-cards"></ul>
    </div>
  </section>
</main>
