.main-film-section {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.film-list-card {
  margin-bottom: 46px;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.film-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    align-self: end;
  }
}

// .film-card {
// }
.film-image {
  min-height: 300px;
  background: url(https://i.imgur.com/NI2NcSe.gif);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  border-radius: 5px;
}
// .film-content {
// }
.film-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}
.film-descr {
  display: flex;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #ff6b08;
}

.film-descr-item:not(:last-child) {
  margin-right: 10px;
}

.film-genres {
  display: flex;
}

.film-vote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  min-width: 36px;
  background: #ff6b01;
  border-radius: 5px;
}

.film-vote-span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;

  color: #ffffff;
  padding: 0;
}
