.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-container {
  @media screen and(max-width:768px) {
    display: flex;
    justify-content: center;
  }
}

.footer-text {
  width: 236px;

  color: #545454;
  font-size: 14px;
  line-height: 1.19;
  text-align: center;

  @media screen and(min-width:768px) {
    font-size: 16px;
    width: 100%;
  }
}

.modal-open-btn {
  color: inherit;
  text-decoration: underline;
}

/*------ MODAL WINDOW -----*/

.footer-lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);

  &.is-open {
    opacity: 1;
    pointer-events: initial;
  }
}

.footer-lightbox-overlay {
  display: none;
  // position: absolute;

  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
  // background-color: rgba(0, 0, 0, 0.8);
}

.footer-lightbox-window {
  background-color: white;
  position: absolute;
  bottom: 50%;
  right: 50%;
  border-radius: 4px;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: auto;
  width: 214px;
  height: 100vh;

  transform: translate(50%, 50%);

  @media screen and (min-width: 768px) {
    width: 659px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (min-width: 1024px) {
    width: 879px;
    height: 650px;
  }
}

.footer-lightbox-close-btn {
  position: absolute;
  top: 17px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
}

//dark theme styles

.footer-lightbox-window.dark {
  background-color: $mainTextColor;

  .footer-lightbox-close-btn {
    fill: $mainBackgroundColor;
  }

  .team-list-item {
    box-shadow: 0px 1px 3px rgba(255, 251, 251, 0.12), 0px 1px 1px rgba(248, 243, 243, 0.14),
      0px 2px 1px rgba(243, 239, 239, 0.2);

    &:hover {
      transform: scale(1.1);
      transition: transform $animation;
    }
  }

  .team-list-content-title {
    color: $mainBackgroundColor;
  }

  .team-list-content-text {
    color: $accentTextColor;
  }
}

/* ---- Team ------ */

.team-title {
  margin-bottom: 18px;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;

  @media screen and (min-width:768px){
    font-size: 30px;
  }
  
}

.team-list {
  display: grid;
  grid-template-columns:repeat( 1, 1fr);
  grid-gap:10px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    // display: flex;
    // flex-wrap: wrap;
    // margin: -5px;
    // justify-content: center;
  }
}

.team-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover {
    transform: scale(1.1);
    transition: all $animation;
  }

  // @media screen and (min-width: 768px) {
  //   width: calc((100% - 10 * 3) / 3);
  //   margin: 10px;
  // }

  // @media screen and (min-width: 1024px) {
  //   width: calc((100% - 10 * 4) / 4);
  // }
}

.team-list-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-content-title {
  margin-bottom: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.19;
}

.team-list-content-text {
  color: #545454;

  font-size: 14px;
  line-height: 1.19;
}
