.header {
  min-height: 230px;
  padding-top: 46px;
  padding-bottom: 42px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-logo__icon {
    width: 24px;
    height: 24px;
    @media screen and (max-width: 767px) {
      width: 30px;
      height: 30px;
    }
  }
}

.header-home {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/home-mobile.jpeg);
}

.header-library {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header/library-mobile.jpeg);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .header-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/home-mobile@2x.jpeg);
  }

  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/library-mobile@2x.jpeg);
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo {
  cursor: pointer;
  transition: transform $animation;
}

.header-logo:hover,
.header-logo:focus {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .header-logo__text {
    display: none;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
  transition: transform $animation;
}

.header__item:hover,
.header__item:focus {
  transform: scale(1.2);
}

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  position: relative;
  color: $secondaryTextColor;
  line-height: 1.17;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.header__link.current {
  border-bottom: 3px solid $secondaryAccentColor;
}

.header__input-wrapper {
  position: relative;
  margin: 0 auto;
  margin-top: 38px;
  // text-align: center;
}

.header__input {
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-right: 25px;
  font-size: 15px;
  border: none;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 2px 16px 3px rgba(0, 0, 0, 0.4);
  border-bottom: 0.5px solid $mainBackgroundColor;
  background-color: transparent;
  color: $secondaryTextColor;
  
  transition: border-color $animation,
  box-shadow $animation;

  &:hover,
  &:focus {
    border-color: $accentTextColor;
    box-shadow: 0px 7px 10px -6px #ff6b08cd ;
    
  }   

  &::placeholder {
    color: $mainTextColor;
    filter: blur(10px);
  }

  // &:required:focus:not(:placeholder-shown):valid {
  //   border-left: 1px solid $accentTextColor;
  // }
  // &:required:focus:not(:placeholder-shown):invalid {
  //   border-left: 1px solid red;
  // }
}

.header__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  pointer-events: none;

  &::before {
    display: inline-block;
    position: relative;
    left: 4px;
    top: -18px;
    content: attr(data-content);
    color: $placeHolderColor;
    filter: blur(0);
    
    backface-visibility: hidden;
    transform-origin: left top;
    transition: transform $animation;
  }

  &::after {
    width: 98%;
    height: 0.5px;
    margin-top: -0.1px;
    position: absolute;
    left: 3px;
    top: 100%;
    bottom: 1px;
    content: "";
    opacity: 0;
    transform: scale3d(0, 1, 1);
    background-color: $accentTextColor;

    transition: transform $animation,
    opacity $animation, 
    background-color $animation;
  }
}

.header__input:focus + 
.header__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.header__input:placeholder-shown + 
.header__label::before {
  transform: translate3d(0, -3px, 0) scale3d(1, 1, 1);
}

.header__input:focus + 
.header__label::before {
  color: $secondaryAccentColor;
}

.header__label::before,
.header__input:focus + 
.header__label::before {
  transform: translate3d(0, -23px, 0) scale3d(0.92, 0.92, 1);
}

.header__input-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -6px;
  right: -10px;
  background-color: transparent;
  border: none;
  transition: transform $animation;

  &:hover,
  &:focus {
    transform: scale(1.105);
  }
}

.header__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  overflow: hidden;
  position: relative;
  z-index: 10;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid $mainBackgroundColor;
  transition: all $animation;

  color: $secondaryTextColor;
  text-transform: uppercase;
  line-height: 1.33;
  font-weight: 500;

  &:after {
    background: $mainBackgroundColor;
    content: '';
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover,
  &:focus {
    background-color: $secondaryAccentColor;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    transition: box-shadow 1200ms cubic-bezier(0.19, 1, 0.22, 1);

    &:after {
      left: 120%;
      transition: all 1200ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.header__btn.current {
  background-color: $secondaryAccentColor;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .header-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/home-tablet.jpeg);
  }

  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/library-tablet.jpeg);
  }

  .header-logo__icon {
    margin-right: 3px;
  }

  .header-logo__text {
    font-size: 30px;
    line-height: 1.17;
    color: $secondaryTextColor;
  }

  .header__input-wrapper {
    width: 336px;
  }

  .header__btn {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/home-tablet@2x.jpeg);
  }

  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/library-tablet@2x.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .header-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/home-desktop.jpeg);
  }

  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/library-desktop.jpeg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .header-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/home-desktop@2x.jpeg);
  }

  .header-library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/library-desktop@2x.jpeg);
  }
}

.header__container {
  position: relative;
}

.switcher {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 55px;
    display: inline-flex;

    @media screen and (min-width: 768px) {
      top: 53px;
      left: 613px;
    }

    @media screen and (min-width: 1024px) {
      top: 53px;
      left: 874px;
    }

    @media screen and (min-width: 1390px) {
      left: 1250px;
    }
  }

  &__checkbox {
    opacity: 0;
  }

  &__checkbox:checked + &__label .ball {
    transform: translateX(33px);
    border: solid 2px white;
    background-color: #292c32;
  }
  &__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $accentTextColor;
    border-radius: 50px;

    padding: 5px;
    width: 65px;
    height: 32px;
  }
}

.ball {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: transform 400ms $animationTiming;
  border: solid 2px #292c32;
  // &__wrapper {
  // }
}
