
.pagination_control-space {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .tui-prev-is-ellip {
    display: none !important;
  }

  .tui-next-is-ellip {
    display: none !important;
  }
}

