.pagination_control-space {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .tui-page-btn {
    width: 37px !important;
  }

  .custom-class-first {
    display: none !important;
  }

  .custom-class-last {
    display: none !important;
  }
}

.tui-is-disabled.custom-class-first {
  background-color: rgba(190, 190, 190, 0.8) !important;
}

.tui-is-disabled.custom-class-prev {
  background-color: rgba(190, 190, 190, 0.8) !important;
}
